{% extends 'base.html' %}

{% load static %}

{% block header %}
    <br>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ event.name }}</h3>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12">
                                {% with event.id|stringformat:"i" as eventid %}
                                    {% with 'images/events/'|add:eventid|add:'.png' as image_static %}
                                        <img src="{% static image_static %}" alt="My image" width="100%"/>
                                    {% endwith %}
                                {% endwith %}
                            </div>
                        </div>
                        <br>
                        <h5>Bonuses:</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    {% if event.experience %}
                                        <li>{{ event.experience }}x XP</li>
                                    {% else %}
                                        <li>N/A XP</li>
                                    {% endif  %}
                                    {% if event.star_dust %}
                                        <li>{{ event.star_dust }}x <img src="{% static "images/stardust.png" %}"  width="25px" height="25px"/></li>
                                    {% else %}
                                        <li>N/A <img src="{% static "images/stardust.png" %}"  width="25px" height="25px"/></li>
                                    {% endif  %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    {% if event.lure_modules %}
                                        <li>{{ event.lure_modules }} hour <img src="{% static "images/lure_module.png" %}"  width="25px" height="25px"/></li>
                                    {% else %}
                                        <li>N/A <img src="{% static "images/lure_module.png" %}"  width="25px" height="25px"/></li>
                                    {% endif  %}
                                    {% if event.candy %}
                                        <li>{{ event.candy }}x <img src="{% static "images/candy.png" %}"  width="25px" height="25px"/></li>
                                    {% else %}
                                        <li>N/A <img src="{% static "images/candy.png" %}"  width="25px" height="25px"/></li>
                                    {% endif  %}
                                </ul>
                            </div>
                        </div>
                        <br>
                        <h5 class="card-text">Increased Spawn pokemon</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                {% if event.target_pokemon.all %}
                                    {% for pokemon in event.target_pokemon.all %}
                                        {% if forloop.first %}<div class="row">{% endif %}
                                        <div class="col-md-2 dex-mon">
                                            {% with '/images/pokemon/'|add:pokemon.name|add:'.png' as image_static %}
                                                <img src="{% static image_static %}" alt="{{ pokemon.name }}.png" width="100px" height="100px"/><br>
                                            {% endwith %}
                                            <span><a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name }}</a></span>
                                        </div>
                                        {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
                                        {% if forloop.last %}</div>{% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p>N/A</p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <h5>Other Bonuses:</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-text">{{ event.other_bonus }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
