{% extends 'base.html' %}

{% load static %}

{% block header %}
    <h1><a href="/pokemon">Events</a></h1>
{% endblock %}

{% block content %}
    <div class="container">
    {% for event in events %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        {{ event.name }}
                    </div>
                    <div class="card-block">
                        {% with event.id|stringformat:"i" as eventid %}
                            {% with 'images/events/'|add:eventid|add:'.png' as image_static %}
                                <img src="{% static image_static %}" alt="My image" width="300px" height="150px"/>
                            {% endwith %}
                        {% endwith %}
                        <p class="card-text">{{ event.other_bonus }}</p>
                        <a href="{{ event.id }}/" class="btn btn-info">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock %}
