{% extends 'base.html' %}

{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/ivcalc.css' %}">
{% endblock additional_css %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container container-fluid">
        <br>
        <div class="card">
            <div class="card-block">
                <form action="/game/ivcalc/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2 col-md-2">{{ form.pokemon_name.label_tag }}<br>{{ form.pokemon_name }}</div>
                        <div class="col-sm-2 col-md-1"></div>
                        <div class="col-sm-2 col-md-2">{{ form.cp.label_tag }}<br>{{ form.cp }}</div>
                        <div class="col-sm-2 col-md-1"></div>
                        <div class="col-sm-2 col-md-2">{{ form.hp.label_tag }}<br>{{ form.hp }}</div>
                        <div class="col-sm-2 col-md-1"></div>
                        <div class="col-sm-2 col-md-3">{{ form.dust.label_tag }}<br>{{ form.dust }}</div>
                    </div>
                    <hr>
                    <div>Optional:</div>
                    <div class="row">
                        <div class="col-sm-2 col-md-1"></div>
                        <div class="col-sm-2 col-md-2">{{ form.powered.label_tag }}<br>{{ form.powered }}</div>
                        <div class="col-sm-2 col-md-1">{{ form.attack.label_tag }}<br>{{ form.attack }}</div>
                        <div class="col-sm-2 col-md-1">{{ form.defense.label_tag }}<br>{{ form.defense }}</div>
                        <div class="col-sm-2 col-md-1">{{ form.stamina.label_tag }}<br>{{ form.stamina }}</div>
                        <div class="col-sm-2 col-md-1"></div>
                        <div class="col-sm-2 col-md-2">{{ form.best.label_tag }}<br>{{ form.best }}</div>
                        <div class="col-sm-2 col-md-3"></div>
                    </div>
                    <br>
                    <div class="row">
                        <input type="submit" value="Check" />
                    </div>
                </form>
            </div>
        </div>
        {% if noform %}
        {% else %}
            {%  if no_pokemon %}
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        No pokemon found :(
                    </div>
                    <div class="col-md-4"></div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-block">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    {% with '/images/pokemon/'|add:pname|add:'.png' as image_static %}
                                        <img src="{% static image_static %}" alt="{{ pname }}.png" width="200px" height="200px"/>
                                    {% endwith %}
                                </div>
                                <div class="col-md-10">
                                    {% if possible_ivs %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-3"><span>min: {{ percentages.min|floatformat:2}}%</span></div>
                                            <div class="col-md-3"><span>avg: {{ percentages.avg|floatformat:2 }}%</span></div>
                                            <div class="col-md-3"><span>max: {{ percentages.max|floatformat:2 }}%</span></div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <table class="table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Attack IV</th>
                                                            <th>Defense IV</th>
                                                            <th>Stamine IV</th>
                                                            <th>Percentage</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for piv in possible_ivs %}
                                                            <tr>
                                                                <td>{{ piv.0 }}</td>
                                                                <td>{{ piv.1 }}</td>
                                                                <td>{{ piv.2 }}</td>
                                                                <td>{{ piv.3|floatformat:2 }}%</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-5"></div>
                                            <div class="col-md-2">
                                                No IVs found :(
                                            </div>
                                            <div class="col-md-5"></div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
