.row_inp > input {
    border: none;
    border-color: transparent;
}

.pokemon-detail-block {
    text-align: center
}

.pokemon-detail-block > p {
    margin-bottom: 0
}

.pokemon-detail-block > img {
    display:block;
    margin:auto;
}

.dex-mon{
    text-align: center;
}

.desaturate {
    filter: grayscale(100%);
}

.badge-dragon {
    background-color: #1b6d85;
}

.badge-water {
    background-color: deepskyblue;
}

.badge-normal {
    background-color: #ffddad;
}

.badge-grass {
    background-color: green;
}

.badge-poison {
    background-color: purple;
}

.badge-psychic {
    background-color: magenta;
}

.badge-bug {
    background-color: darkgreen;
}

.badge-fire {
    background-color: orangered;
}

.badge-fairy {
    background-color: pink;
}

.badge-ice {
    background-color: lightcyan;
}

.badge-dark {
    background-color: darkslateblue;
}

.badge-ghost {
    background-color: lightsteelblue;
}

.badge-ground {
    background-color: sandybrown;
}

.badge-fighting {
    background-color: saddlebrown;
}

.badge-rock {
    background-color: goldenrod;
}

.badge-flying {
    background-color: lightskyblue;
}

.badge-flying {
    background-color: silver;
}

.badge-electricity {
    background-color: yellow;
}

