{% extends 'base.html' %}

{% load static %}

{% block additional_js %}
    <script src="{% static 'js/compare.js' %}"></script>
{% endblock additional_js %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/compare.css' %}">
{% endblock additional_css %}

{% block header %}
    <h3>Pokemon Comparison</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <a href="{% url 'mylist' %}">back to the list</a>
            {% if plist %}
                <table class="table table-responsive">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>IV% User1</th>
                          <th>IV% User2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for poke_instance1, poke_instance2 in plist %}
                            <tr class="prow">
                                <td class="row_inp" scope="row">{{ poke_instance1.pokemon.number }}</td>
                                <td class="row_inp">{{ poke_instance1.pokemon.name }}</td>
                                <td class="u1p">{{ poke_instance1.percentage }}</td>
                                <td class="u2p">{{ poke_instance2.percentage }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div> User does not exist</div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <div><b>User 1 Average:</b> <span id="u1avg"></span></div>
                    <div><b>User 2 Average:</b> <span id="u2avg"></span></div>
                    <div><b>User 1 Pokedex entries:</b> <span id="u1dex"></span></div>
                    <div><b>User 2 Pokedex entries:</b> <span id="u2dex"></span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
