{% extends 'base.html' %}

{% load static %}

{% block additional_js %}
    <script src="{% static 'js/mylist.js' %}"></script>
{% endblock additional_js %}

{% block header %}
    <h3>My Pokemon IVs</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <span>Compare pokemon with:</span>&nbsp;<input id="other_user" type="text">&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="compare" class="btn btn-primary">Compare!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <a href="{% url 'mylist' %}">back to the list</a>
            <form method="post" action="">
                {% csrf_token %}
                <table class="table table-responsive">
                    <thead class="thead-default">
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>IV %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {{ form.id }}
                            <tr>
                                <th class="row_inp" scope="row">{{ form.poke_id }}</th>
                                <th class="row_inp">{{ form.poke_name }}</th>
                                <th class="row_percentage">{{ form.percentage }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Save"/>
            </form>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-block">
                    <div><b>100% count:</b> {{ stats.perfect }}</div>
                    <div><b>90% count:</b> {{ stats.ninetyplus }}</div>
                    <div><b>80% count:</b> {{ stats.eightyplus }}</div>
                    <div><b>Pokedex entries:</b> {{ stats.count }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
