{% extends 'base.html' %}

{% load static %}

{% block additional_js %}
    <script src="{% static 'js/pokemon_detail.js' %}"></script>
{% endblock additional_js %}

{% block header %}
{% endblock %}

{% block content %}
    <br>
    {% if pokemon %}
        <div class="card">
            <div class="card-header">
                <h3>{{ pokemon.name }}</h3>
            </div>
            <div class="card-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2" style="text-align: center">
                            {% with '/images/pokemon/'|add:pokemon.name|add:'.png' as image_static %}
                                <img src="{% static image_static %}" alt="{{ pokemon.name }}.png" width="150px" height="150px"/>
                            {% endwith %}
                            <br>
                            {% for typ in pokemon.type.all %}
                                {% with '/images/types/'|add:typ.name|add:'.png' as image_static %}
                                    <span class="poke-type"><img src="{% static image_static %}" alt="{{ typ.name }}.png" width="25px" height="25px" data-toggle="tooltip" data-placement="top" title="{{ typ.name }}"/></span>
                                {% endwith %}
                            {% empty %}
                                <span>No type</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <div>Base stamina</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {% widthratio pokemon.base_stamina 5.10 1 %}%" aria-valuenow="{{ pokemon.base_stamina }}" aria-valuemin="0" aria-valuemax="510">{{ pokemon.base_stamina }}</div>
                            </div><br>
                            <div>Base attack</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {% widthratio pokemon.base_attack 3.30 1 %}%" aria-valuenow="{{ pokemon.base_attack }}" aria-valuemin="0" aria-valuemax="330">{{ pokemon.base_attack }}</div>
                            </div><br>
                            <div>Base defense</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {% widthratio pokemon.base_defense 3.96 1 %}%" aria-valuenow="{{ pokemon.base_defense }}" aria-valuemin="0" aria-valuemax="396">{{ pokemon.base_defense }}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card card-block bg-faded pokemon-detail-block">
                                <p>{{ pokemon.as_buddy_distance }} Km</p>
                                <img src="{% static "images/buddy.png" %}" alt="{{ typ.name }}.png" width="45px" height="25px"/>
                            </div>
                            <br>
                            <div class="card card-block bg-faded pokemon-detail-block">
                                {% if pokemon.candy_evolve_cost %}
                                    <p>Evolv. to</p>
                                    {% for epoke in pokemon.evolves_to.all|slice:":1" %}
                                        {% with '/images/pokemon/'|add:epoke.name|add:'.png' as image_static %}
                                            <a href="/pokemon/{{ epoke.id }}"><img src="{% static image_static %}"  width="25px" height="25px"/></a>
                                        {% endwith %}
                                    {% endfor %}
                                {% else %}
                                    <p> No evolution</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card card-block bg-faded pokemon-detail-block">
                                {% if pokemon.hatches_from %}
                                    <p>{{ pokemon.hatches_from }} Km</p>
                                    {% with pokemon.hatches_from|stringformat:"i" as hatchfrom %}
                                        {% with '/images/'|add:hatchfrom|add:'egg.png' as image_static2 %}
                                            <img src="{% static image_static2 %}"  width="25px" height="25px"/>
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p>Not hatchable</p>
                                {% endif %}
                            </div>
                            <br>
                            <div class="card card-block bg-info pokemon-detail-block">
                                {% if pokemon.candy_evolve_cost %}
                                    <p>{{ pokemon.candy_evolve_cost }}</p>
                                    <img src="{% static "images/candy.png" %}"  width="25px" height="25px"/>
                                {% else %}
                                    <p>No evolution</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <span>Basic Attacks:</span><br>
                            <div class="card card-block bg-faded">
                                {% for typ in pokemon.moveset.all %}
                                    {% if typ.special %}
                                    {% else %}
                                        <div><span class="badge badge-{{ typ.attack_type }}">{{ typ.attack_type }}</span> <span>{{ typ.name }}</span> <span>{{ typ.damage }}</span></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span>Special Attacks:</span><br>
                            <div class="card card-block bg-faded">
                                {% for typ in pokemon.moveset.all %}
                                    {% if typ.special %}
                                        <div><span class="badge badge-{{ typ.attack_type }}">{{ typ.attack_type }}</span> <span>{{ typ.name }}</span> <span>{{ typ.damage }}</span></div>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Flavor:</span><br>
                            <div class="card card-block bg-faded">{{ pokemon.flavor }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>No such pokemon.</p>
    {% endif %}
{% endblock %}
