{% load static %}

<html>
    <head>
        <title>Pokemon Staturizer</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        {% block additional_js %}
        {% endblock additional_js %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block additional_css %}
        {% endblock additional_css %}

    </head>
    <body>
        <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/pokemon">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pokemon/">Pokedex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pokemon/mylist">My list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/game/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/game/ivcalc">IV Calc</a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text navbar-toggler-right">
                {% if request.user.is_authenticated %}
                    <p>Hey, {{ request.user.username }} (<a href="/logout/">Log Out</a>)</p>
                {% else %}
                    <p><a href="/login/">Log In</a></p>
                {% endif %}
            </span>
        </nav>
        {% block header %}
            <h1><a href="/pokemon">Pokemon Staturizer</a></h1>
        {% endblock %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
