{% load static %}

{% for pokemon in pokemons %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-2 dex-mon {% for type in pokemon.type.all%}{{ type|lower }} {% endfor %}">
        {% with '/images/pokemon/'|add:pokemon.name|add:'.png' as image_static %}
            <img src="{% static image_static %}" alt="{{ pokemon.name }}.png" width="100px" height="100px"/><br>
        {% endwith %}
        <span><a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name }}</a></span>
    </div>
    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>