{% load static %}

<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    2 Km egg hatches <img src="{% static "images/2egg.png" %}" alt="egg2.png" width="25px" height="27px"/>
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                {% for pokemon in pokemon2 %}
                    {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-md-2 dex-mon">
                        {% with '/images/pokemon/'|add:pokemon.name|add:'.png' as image_static %}
                            <img src="{% static image_static %}" alt="{{ pokemon.name }}.png" width="100px" height="100px"/><br>
                        {% endwith %}
                        <span><a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name }}</a></span>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    5 Km egg hatches <img src="{% static "images/5egg.png" %}" alt="egg5.png" width="25px" height="27px"/>
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
                {% for pokemon in pokemon5 %}
                    {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-md-2 dex-mon">
                        {% with '/images/pokemon/'|add:pokemon.name|add:'.png' as image_static %}
                            <img src="{% static image_static %}" alt="{{ pokemon.name }}.png" width="100px" height="100px"/><br>
                        {% endwith %}
                        <span><a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name }}</a></span>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    10 Km egg hatches <img src="{% static "images/10egg.png" %}" alt="egg5.png" width="25px" height="27px"/>
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
                {% for pokemon in pokemon10 %}
                    {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-md-2 dex-mon">
                        {% with '/images/pokemon/'|add:pokemon.name|add:'.png' as image_static %}
                            <img src="{% static image_static %}" alt="{{ pokemon.name }}.png" width="100px" height="100px"/><br>
                        {% endwith %}
                        <span><a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name }}</a></span>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>