{% extends 'base.html' %}

{% block header %}
    <h2>Log In</h2>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="inputEmail" class="sr-only">Username</label>
                    {{ form.as_p }}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                <span>Not registered? <a href="/signup">Sign up here!</a></span>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div> <!-- /container -->
{% endblock %}