{% extends 'base.html' %}

{% load static %}

{% block additional_js %}
    <script src="{% static 'js/pokedex.js' %}"></script>
{% endblock additional_js %}

{% block header %}
    <h1><a href="/pokemon">Pokedex</a></h1>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a class="nav-link filter active" id="default" href="#">Type Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link filter" id="egg" href="#">Egg filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link filter" id="buddy" href="#">Buddy dist. filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link filter disabled" href="#">Comingo soon!</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="row" id="type_filter_row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
        {% for typ in types %}
            {% with '/images/types/'|add:typ.name|add:'.png' as image_static %}
                <span id="{{ typ.name }}" class="poke-type">&nbsp;<img src="{% static image_static %}" alt="{{ typ.name }}.png" width="25px" height="27px" data-toggle="tooltip" data-placement="top" title="{{ typ.name }}"/></span>
            {% endwith %}
        {% endfor %}
        </div>
    </div>
    <br>
    <div id="filter_type"></div>
{% endblock %}
